<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="/javascripts/slide.js"></script>
    <script type="text/javascript">
      $(function() {
        $('.folder > .expand').click(function() {
          $('.folder > .content').hide();
          var content = $(this).parent().find('.content');
          content.show();
        });
        
        $('.folder > .name').click(function () {
          var content = $(this).parent().find('.content');
          var viewer = new PhotoViewer();
          content.children().each(function() {
            viewer.add($(this).find('a').attr('href'));
          });
          viewer.show(0);
        });
      });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul class="folders-list">
    <% Object.keys(photos).forEach(function(dirName) { %>
    <% var dir = photos[dirName]; %>
    <% if (dir.length > 0) { %>
      <li class="folder">
        <a class="expand" href="javascript:void(0);">+</a>
        <a class="name" href="javascript:void(0);"><%= dirName %></a>
        <ul class="content">
        <% dir.forEach(function(file) { %>
          <li>
            <a href="<%= file.url %>">
              <%= file.name %>
            </a>
          </li>
        <% }); %>
        </ul>
      </li>
    <% } %>
    <% }) %>
    </ul>
  </body>
</html>

